* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        sans-serif;

    background-color: black;
    /* roxo claro */
    color: #2c1533;
    /* texto roxo escuro */
    overflow-x: hidden;
}

#root {
    min-height: 100vh;
}

/* links herdam a cor do texto por defeito */
a {
    color: inherit;
    text-decoration: none;
}