.footer {
    padding: 1.5rem 1.5rem 2rem;
    background-color: #e596d9;
    /* mesmo fundo da página */
    display: flex;
    justify-content: center;
}

.text {
    font-size: 0.9rem;
    text-align: center;
    color: #2c1533;
}

/* opcional: ligeiro ajuste em ecrãs muito pequenos */
@media (max-width: 30rem) {
    .text {
        font-size: 0.85rem;
    }
}